<section data-ng-controller="RestaurantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Restaurants</h1>
    </div>
    <div class="list-group">
      <span data-ng-repeat="restaurant in restaurants"  class="list-group-item">
          <a data-ng-href="/#!/restaurants/nchl/{{restaurant._id}}">
      			<h4 class="list-group-item-heading" data-ng-bind="restaurant.name"></h4>
          </a>
            <ul>
              <li data-ng-repeat="menu in restaurant.menus">{{menu.name}} / active : {{menu.active}}</li>
            </ul>

            <small class="list-group-item-text">
              Posted on
              <span data-ng-bind="restaurant.created | date:'medium'"></span>
              by
              <span data-ng-bind="restaurant.user.displayName"></span>
            </small>
          <br>
          <a data-ng-href="/#!/restaurants/{{restaurant._id}}" type="button" class="btn btn-info">
            admin
          </a>
      </span>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!restaurants.$resolved || restaurants.length">
    	No Restaurants yet, why don't you <a href="/#!/restaurants/create">create one</a>?
    </div>

    <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li data-ng-class="{active: currentPage == 1 || !currentPage}"><a href="/restaurants/page-1">1</a></li>
    <li data-ng-class="{active: currentPage == 2}"><a href="/restaurants/page-2">2</a></li>
    <li data-ng-class="{active: currentPage == 3}"><a href="/restaurants/page-3">3</a></li>
    <li data-ng-class="{active: currentPage == 4}"><a href="/restaurants/page-4">4</a></li>
    <li data-ng-class="{active: currentPage == 5}"><a href="/restaurants/page-5">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


</section>
