<section data-ng-controller="MenuController" data-ng-init="findOne()">

<div class="inner-content">
  <div class="nunchl-page">
    <div ng-show="isLoading()" id="overlay">
      <i class="fa fa-spinner fa-spin spin-big"></i>
    </div>
    <div class="nunchl-box">
      <div class="nunchl-right-menuCreation-reorganization">
      </div>

      <div class="nunchl-left-menuCreation">
        <div class="nunch-section">
          <input id="restaurantID" type="hidden" value="@Model.Id" />
          <input id="menuID" type="hidden" value="@ViewBag.menuId" />
          <div class="MenuGrid" id="id_categories">

            <!-- @*Categories repeat*@ -->
            <h3>Categories</h3>
            <!-- @*ADD New Category*@ -->
            <div class="tag">
              <div class="jcontainerAdd">
                <div ng-hide="newCat" ng-click="newCat = true">
                  <div class="jC_cat_Name" flowtype min-font="12" max-font="60" font-ratio="14" line-ratio="1" minimum="100" maximum="2000">
                    <i class="fa fa-plus-circle fa-lg"></i> <b>AddNewCategory</b>
                  </div>
                </div>
                <div ng-show="newCat">
                  <div class="form-horizontal">
                    <div class="form-group input-group" style="width:80%; margin:auto;">
                      <input ng-model="categoryName" class="form-control" type="text" placeholder="CategorysName">
                      <input type="hidden" ng-model="categoryOrder" value="{{ categoryOrder = categories[categories.length -1].Order + 1}}" />
                      <span ng-click="newCat = false; addCategory(categoryName, categoryOrder)" class="input-group-addon"><i id="target" class="fa fa-check"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <br />


        <div ng-repeat="category in categories" id="sortable">

              <div ng-class="{ 'selected_tag': $index == selectedCategory  }" class="tag">
                <div class="jContainer">
                  <!-- @*Default*@ -->
                  <div ng-hide="editingCategory">
                    <span class="jC_editImage"><i class="fa fa-cog" ng-click="editOptionsCats(category.name, $index)"></i></span>
                   <!--  <img ng-click="selectCategory($index)" ng-if="!category.image" src="upimg/a383ddea0c249495e0d2679e1fc4ad6b_sm.jpg" alt="" />
                    <img ng-click="selectCategory($index)" ng-if="category.image" ng-src="{{category.image}}" alt="{{category.image}}" /> -->
                    <div class="jCPrice">
                      <span ng-click="editingCategory = true; selectCategory($index)"><i class="fa fa-pencil-square-o">edit</i></span>
                    </div>
                    <div class="jC_cat_Name" flowtype min-font="12" max-font="60" font-ratio="14" line-ratio="1" minimum="100" maximum="2000">
                      {{category.name}}
                    </div>
                  </div>

                  <!-- @*Edit stuff (non visible by default)*@ -->
                  <div ng-show="editingCategory">
                    <!-- <img ng-if="!category.Image" ng-src="~/Content/img/no-image.png" alt="" />
                    <img ng-if="category.Image" ng-src="~/Content/img/nchl/{{category.Image}}" alt="" /> -->
                    <div class="form-horizontal">
                      <div class="form-group input-group">
                        <input ng-model="category.name" class="form-control" type="text" placeholder="Category's Name'">
                        <span ng-click="editingCategory = false; editCategory(category)" class="input-group-addon"><i id="target" class="fa fa-check"></i></span>
                      </div>
                    </div>
                    <span ng-click="removeCategory(category, $index)" flowtype min-font="12" max-font="60" font-ratio="14" line-ratio="1" minimum="100" maximum="2000">
                      <i class="fa fa-pencil-square-o">Delete</i></span>
                  </div>
                </div>
                <!-- </div> -->

             <!--  </div> -->
         
    </div>
  </div>
</div>

</section>

<script src="lib/jcrop/js/jquery.Jcrop.min.js"></script>
